
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center ;
    min-height: 100vh;
    background: url('/image/background.jpg') no-repeat;
    background-size: cover;
   
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

.logo {
    font-size: 2rem;
    color: black;
    user-select: none;
}
a.active, a:hover {
    transition: .5s;

}
a:is(:link, :active, :visited).active {
    color: #000000;
    background-color: #fff;
    border-radius: 4px 5px;
}
/*end header-----------------------*/
.navigation a {
    text-decoration:none ;
    color: #0e0b0b;
    position: relative;
    font-size: 2em;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background:#f7c5b1;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: right;
}
.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
} 

.navigation .btn-register {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
    
}
.navigation .btn-register:hover {
    background: #fff;
    color: #9b55c4;
}
/* end navigation */
/*banner--------------------------*/
.banner {
    background-color: #007BFF; 
    color: #fff; 
    text-align: center;
    padding: 20px;
}

.banner h2 {
    font-size: 2em;
}

.banner p {
    font-size: 1.2em;
}

.banner .btn-banner {
    background-color: #fff;
    color: #007BFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/*banner-------------------------*/
/*register*/
.wrapper {
    position: relative;
    width: 450px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}
 .wrapper .form-register {
    width: 100%;
    padding: 40px;
 }


 .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #0e0b0b;
    margin: 30px 0;
 }

 .form-register {
    font-size: 1em;
    color: #162938;
    padding: 10px;
    margin: 5px 10px;
    
 }
  .reset {
    font-size: .9em;
    color: #0e0b0b;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
  }

  .reset label input{
    accent-color: #162938;
    margin-right: 3px;

  }

  .remember a {
    color:#162938;
    text-decoration: none;

  }
  .remember a:hover {
    text-decoration: underline;
  }
  /*section---------------------------------*/
  #about_contests {
    padding: 10px;

}

.container {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    display: block;
    padding: 20px;
}

h2 {
    color: #0a0707;
    font-size: 24px;
    margin-top: 20px;
}

p {
    color: #0a0909;
    line-height: 1.4;
    font-size: 1.5em;
    padding: 6px;
    font-weight: 600;
}

ul {
    list-style-type: disc;
    color: #fff;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    font-size: 1.5em;
}

strong {
    color: #fff;
    font-size: 1.5rem;
}
  /*section---------------------------------*/